name: learn-github-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: npm install -g bats
      - run: bats -v

  build:
    docker:
      - image: cimg/python:3.10.1
    steps:
      - checkout
      - run:
            command: |
              python3 -m venv venv
              . venv/bin/activate
              pip install -r requirements.txt
      - run:
            name: Running tests
            command: |
              . venv/bin/activate
              python3 tests.py
      - store_artifacts:
            path: test-reports/
            destination: python_app
